<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>

<hr>

<h2>Statistics</h2>
<div id="statistics"></div>
<script>
  var articles = {
    x: <%= @articles.map{ |article| article.id } %>,
    y: <%= @articles.map{ |article| article.body.length } %>,
    name: 'Articles',
    type: 'bar'
  };

  var layout = {
    title: 'A statistics on articles',
    xaxis: {
      title: 'Article#',
      tickangle: -45
    },
    yaxis: {
      title: 'body length'
    }
  };

  var data = [articles];

  statistics = document.getElementById('statistics');

  Plotly.newPlot( statistics, data, layout );
</script>

